html{
  width:100%;
  height:100%;
  position: fixed;
  overflow: hidden;
}
body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
iframe{
  border:0;
}
.title {
  top:0;
  font-family: "lato", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
}
.textGlow{
  background: -webkit-linear-gradient(#ff0076, #862796);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label{
  font-family: "Open Sans", sans-serif;
  font-family: myFirstFont;
      text-shadow: 1px 1px 0 #fd0272,
                   2px 2px 0 #fd0188,
                   3px 3px 0 #c101a4,
                   4px 4px 0 #8401b8,
                   5px 5px 0 #4800cd,
                   6px 6px 5px #06067e;
      font-weight: bold;
      text-align: center;
      right: 0;
      left: 0;
      line-height: 45px;
      margin: 0;
      -webkit-text-stroke: 1px #ffffff;
      color: transparent;

}
.labelRadio{
  font-size:365%;
}
.labelName{
  font-size:430%;
}

.paused{
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


@font-face {
  font-family: myFirstFont;
  src: url(../fonts/MuseoSansDisplay-ExtraBlack.woff2);
}

@media screen and (orientation:portrait) {
    /* Portrait styles */
  #buttPlayer{
    width:11%;
  }
  .label{
    width:70%;
    display:block;
    margin-left: auto;
    margin-right: auto;

  }
  #songname{
    text-align: center;
    font-size: 50px;
    display:block;
  }
  #artist{
    text-align: center;
    font-size: 30px;
    display:block;
  }
  .box{
    position: absolute;
    bottom: 0;
    width: 100%;
    display:none;
  }
  .box_emoji{
    display: inline;
    vertical-align: bottom;
  }
  .box_emoji:hover{
    width: 15%;
  }
  .buttons{
    display: inline-block;
  }
  .buttons:hover{
    font-size:1.3em;
  }
  #menu{
    position:fixed;
    width:100%;
    bottom: 5px;
    font-size:2em;
    text-align:center;
    margin:auto;
    z-index:20000;
    overflow: auto;
    white-space: nowrap;
  }

  #window_visor{
    position:absolute;
    width:100%;
    height:inherit !important;
  }
  #news_view{
    width: 110% !important;
    left: -12px !important;
    margin: 0px !important;
  }
  #video_view{
    margin:0px !important;
    width:102% !important;
  }
  #menu::-webkit-scrollbar{
    display:none;
  }
}


@media screen and (orientation:landscape) {
    /* landscape styles */
    .krokusPan{
      margin: 0px;
      width:99%;
    }
    #logo{
      width:30%;
    }
    #buttPlayer{
      width:6%;
    }
    .label{
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
    #songname{
      text-align: left;
      font-size: 35px;
      display:block;
    }
    #artist{
      text-align: left;
      font-size: 20px;
      display:block;
    }
    .box{
      display: inline;
    }
    .box_emoji{
      display: inline;
    }
    .titlewrap{
      display:inline-block;
      vertical-align: top;
    }
    #menu{
      position:fixed;
      width:100%;
      bottom:0px;
      font-size:2em;
      text-align:center;
      margin:auto;
      z-index:20000;
      display:inline;
    }
    .buttons{
      display: inline;
    }
    #window_visor{
      position:absolute;
      width:100%;
    }
    .cont_label{
      display:inline-block;
    }
    .label{
      line-height: 23px;
    }
    .labelRadio{
      font-size:215%;
    }
    .labelName{
      font-size:260%;
    }

}
