html{
  width:100%;
  height:100%;
  position: fixed;
}

body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

iframe#visor{
  min-height:100%;
  width:100%;
  margin:0;
  padding:0;
  border:0px;
}
